<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>l1player</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>

    </script>
</head>
<body>
{% for file in files %}
    <div>
        <audio id="{{ file }}" controls>
            <source src="/static/mp3/{{ file }}.mp3" type="audio/mpeg">
        </audio>
        <span class="songname">{{ file }}</span>
        <select name="genre" id="">
            <option disabled>choose genre</option>
            <option value="salsa">salsa</option>
            <option value="bacha">bachata</option>
            <option value="semba">urban kizomba</option>
            <option value="menga">merengue</option>
            <option value="bacha">dominicana</option>
            <option value="semba">kizomba tradicional</option>
            <option value="chacha">chacha</option>
            <option value="son">son</option>
            <option value="timba">timba</option>
        </select>

        <select name="velocity" id="">
            <option disabled>choose velocity</option>
            <option value="slow">slow</option>
            <option value="normal">normal</option>
            <option value="fast">fast</option>
        </select>

        <input type="button" value="ok">

    </div>
{% endfor %}

<script>
    var files = {{files | safe}};
</script>
<script src="static/main.js"></script>
</body>
</html>