<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>l1player</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>

    </script>
</head>
<body>
{% for file in files %}
    <div>
        <audio id="{{ file }}" controls>
            <source src="/static/mp3/{{ file }}.mp3" type="audio/mpeg">
        </audio>
        <span>{{ file }}</span>
    </div>
{% endfor %}

<script>
    var files = {{files | safe}};
</script>
<script src="static/main.js"></script>
</body>
</html>